body, main{
    display: flex;
}

body{
    flex-direction: column;
}
main{
    flex-direction: row;
    flex: auto;
}

article{
    flex: 2;
    overflow-y: auto;
    background-color: rgb(245, 244, 244);
    border: rgb(248, 81, 3) solid 1px;
    color: rgb(2, 2, 2);
}

aside{
    flex: 2;
    overflow-y: auto;
}
@media screen and (min-width: 80em)
{
    .container{
        margin: 1em 2em;
    }
}